imageio
dash_core_components==1.10.0
plotly==4.7.1
plotly-express==0.4.1
CairoSVG==2.4.2
matplotlib
scipy
dash==1.12.0
numpy
scikit_image
dash_html_components==1.0.3
dash_table==4.7.0
Pillow==7.1.2
scikit_learn
gunicorn==20.0.4
pandas
joblib==0.15.1
dash_bootstrap_components==0.10.7
pims
gunicorn
celery
redis
